<?xml version="1.0" encoding="UTF-8"?>
<launch>
   <!-- Gstreamer params -->
   <arg name="sensor_id" default="0" />				<!-- The sensor id of the camera -->
   <arg name="cam_name" default="csi_cam_$(arg sensor_id)" />	<!-- The name of the camera (corrsponding to the camera info) -->
   <arg name="frame_id" default="/$(arg cam_name)_link" />	<!-- The TF frame ID -->
   <arg name="sync_sink" default="true" />			<!-- Synchronize the app sink. Setting this to false may resolve problems with sub-par framerates. -->
   <arg name="calib_path" default="package://jetson_csi_cam/config/camera_info/cam.yaml" />

   <!-- CSI Settings -->
   <arg name="cam_sensor_mode" default="1" />
   <arg name="cam_wb" default="1" />			<!-- White balance mode (Default: 1, Mode: 0-9) -->
   <!-- Temporal noise reduction -->
   <arg name="cam_tnr_mode" default="2" />		<!-- Mode (Default: 1, Mode: 0 (off) - 2 (high) ) -->
   <arg name="cam_tnr_strength" default="1.0" />	<!-- Strength: -1.0 <-> 1.0 -->
   <!-- Edge enhancement -->
   <arg name="cam_ee_mode" default="1" />		<!-- Mode (Default: 1, Mode: 0 (off) - 2 (high) ) -->
   <arg name="cam_ee_strength" default="0" />	<!-- Strength: -1.0 <-> 1.0 -->

   <arg name="cam_aelock" default="false" />		<!-- Auto Exposure Lock (Default: false) -->
   <!-- Processing -->
   <arg name="width" default="1920" />			<!-- Image Width -->
   <arg name="height" default="1080" />			<!-- Image Height -->
   <arg name="fps" default="28" />			<!-- Desired framerate. True framerate may not reach this if set too high. -->
   <arg name="flip_mtd" default="2" />			<!-- Flip method, default 0 -->

   <!-- Make arguments available to parameter server -->
   <param name="$(arg cam_name)/camera_id" type="int" value="$(arg sensor_id)" />
   <param name="$(arg cam_name)/image_width" type="int" value="$(arg width)" />
   <param name="$(arg cam_name)/image_height" type="int" value="$(arg height)" />
   <param name="$(arg cam_name)/target_fps" type="int" value="$(arg fps)" />

   <!-- Define the GSCAM pipeline -->
   <env name="GSCAM_CONFIG" value="nvarguscamerasrc sensor_id=$(arg sensor_id) sensor_mode=$(arg cam_sensor_mode) wbmode=$(arg cam_wb) tnr-mode=$(arg cam_tnr_mode) tnr-strength=$(arg cam_tnr_strength) ee-mode=$(arg cam_ee_mode) ee-strength=$(arg cam_ee_strength) aelock=$(arg cam_aelock) ! video/x-raw(memory:NVMM),   format=(string)NV12, framerate=(fraction)$(arg fps)/1 !      nvvidconv flip-method=$(arg flip_mtd) ! video/x-raw,  width=(int)$(arg width), height=(int)$(arg height), format=(string)BGRx ! videoconvert ! video/x-raw, format=(string)BGR" />

   <!-- Start the GSCAM node -->
   <node pkg="gscam" type="gscam" name="$(arg cam_name)">
      <param name="camera_name" value="$(arg cam_name)" />
      <param name="camera_info_url" value="$(arg calib_path)" />
      <param name="frame_id" value="$(arg frame_id)" />
      <param name="sync_sink" value="$(arg sync_sink)" />
      <remap from="camera/image_raw" to="$(arg cam_name)/image_raw" />
      <remap from="/set_camera_info" to="$(arg cam_name)/set_camera_info" />
   </node>
</launch>


